:root {
  --color: #685ED6;
}

@font-face{
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Gilroy-Regular.ttf") format("ttf"),
       url("../fonts/Gilroy-Regular.woff") format("woff");
}
@font-face{
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Gilroy-Medium.ttf") format("ttf"),
       url("../fonts/Gilroy-Medium.woff") format("woff");
}
@font-face{
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Gilroy-Bold.ttf") format("ttf"),
       url("../fonts/Gilroy-Bold.woff") format("woff");
}
@font-face{
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Gilroy-ExtraBold.ttf") format("ttf"),
       url("../fonts/Gilroy-ExtraBold.woff") format("woff");
}

* {box-sizing: border-box}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  /* font-family: ; */
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

a {
  text-decoration: none;
  background-color: transparent;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

/* USER CSS */

.container {
  width: 100%;
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 40px;
}









































/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

